<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Arifmetik_amallar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1=pd.Series([1,2,5,9,-2],index=['a','b','c','x','d'])
s2=pd.Series([3,5,7,1,5],index=['a','b','c','m','q'])

In [ ]:
s1

a    1
b    2
c    5
x    9
d   -2
dtype: int64

In [ ]:
s2

a    3
b    5
c    7
m    1
q    5
dtype: int64

In [ ]:
# agar biz Serieslarning ustida arifmetik amallarni bajaradigan bo'lsak indexsi bo'yicha bajariladi
# agar ikkalasida bir hil index bo'lsa arfmetik amal bir indexlar bo'yicha bajariladi bo'lmasa nan qiymat qaytaradi
s1+s2 # faqat a,b,c indexlar qo'shildi

a     4.0
b     7.0
c    12.0
d     NaN
m     NaN
q     NaN
x     NaN
dtype: float64

In [ ]:
# yuqorida Series bilan ishlagan edik keling DF bilan ishlymiz
df1=pd.DataFrame(np.arange(9.).reshape(3,3), columns=list("abc"),index=["olma","anor","anjir"])
df2=pd.DataFrame(np.arange(12.).reshape(4,3), columns=list("bcd"),index=["anor","uzum","nok","anjir"])

In [ ]:
df1

         a    b    c
olma   0.0  1.0  2.0
anor   3.0  4.0  5.0
anjir  6.0  7.0  8.0

In [ ]:
df2

         b     c     d
anor   0.0   1.0   2.0
uzum   3.0   4.0   5.0
nok    6.0   7.0   8.0
anjir  9.0  10.0  11.0

In [ ]:
# agar biz DFlarning ustida arifmetik amallarni bajarmoqchi bo'lsak ularning qator va ustunlari birhil bo'lsa bajariladi
df1+df2

        a     b     c   d
anjir NaN  16.0  18.0 NaN
anor  NaN   4.0   6.0 NaN
nok   NaN   NaN   NaN NaN
olma  NaN   NaN   NaN NaN
uzum  NaN   NaN   NaN NaN

In [ ]:
# arifmetik amallarni  mahsus funksiyalar bilan bajarsa ham bo'ladi va ularning ustun tomonlari ham bor
# add()
df1.add(df2, fill_value=0) # fill_value - qiymatni to'ldir degani
# quyidagi jadvalga e'tibor bering df2 da bor element df1 bo'lmas df1 df2 dagi elemtnga qo'shish uchun 0 beri df2 ning elementiga qo'shiadi

         a     b     c     d
anjir  6.0  16.0  18.0  11.0
anor   3.0   4.0   6.0   2.0
nok    NaN   6.0   7.0   8.0
olma   0.0   1.0   2.0   NaN
uzum   NaN   3.0   4.0   5.0

In [ ]:
# ayirish funksiyasini ko'ramiz .sub() numpyda bilsangiz subtract() funksiyasi bor dflarni ayrish uchun  sub ning o'zi ekan
df2.sub(df1, fill_value=0)

         a    b    c     d
anjir -6.0  2.0  2.0  11.0
anor  -3.0 -4.0 -4.0   2.0
nok    NaN  6.0  7.0   8.0
olma   0.0 -1.0 -2.0   NaN
uzum   NaN  3.0  4.0   5.0

In [ ]:
df1.rsub(df2,fill_value=0) # rsub degani o'ng tomondan ayir degani ya'ni ayiruvchidan ayriluvchini ayir degani

         a    b    c     d
anjir -6.0  2.0  2.0  11.0
anor  -3.0 -4.0 -4.0   2.0
nok    NaN  6.0  7.0   8.0
olma   0.0 -1.0 -2.0   NaN
uzum   NaN  3.0  4.0   5.0

In [ ]:
# yuqoridagi ikkita df ga ahamiyat bersangiz natija birhil

In [ ]:
# DF larni bo'lish uchun .div(), rdiv() metodlari bor. Bo'lish metodlari huddi ayrish metodlari kabi ishlaydi.
df2.rdiv(df1)

        a         b    c   d
anjir NaN  0.777778  0.8 NaN
anor  NaN       inf  5.0 NaN
nok   NaN       NaN  NaN NaN
olma  NaN       NaN  NaN NaN
uzum  NaN       NaN  NaN NaN

In [ ]:
df1.div(df2)

        a         b    c   d
anjir NaN  0.777778  0.8 NaN
anor  NaN       inf  5.0 NaN
nok   NaN       NaN  NaN NaN
olma  NaN       NaN  NaN NaN
uzum  NaN       NaN  NaN NaN

# Series va DataFrame orasidagi arifmetik amallarni ko'ramiz

In [ ]:
dff=pd.DataFrame(np.arange(1,13.).reshape(3,4),index=list('abc'),columns=["Olma","Anor","Qovun","Anjir"])
ser1=pd.Series([1,2,6,5], index=dff.columns)
dff

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [ ]:
ser1

Olma     1
Anor     2
Qovun    6
Anjir    5
dtype: int64

In [ ]:
# ser1 va dff larni qo'shadigan bo'lsak dff ning ustunlariga ser1 ning indexlari mos tushgani uchun dff ning ustuniga ser1 ning indexlari mos ravishda qo'shilib boradi
ser1.add(dff)

   Olma  Anor  Qovun  Anjir
a   2.0   4.0    9.0    9.0
b   6.0   8.0   13.0   13.0
c  10.0  12.0   17.0   17.0

In [ ]:
ser2=pd.Series([3,1,5],index=["Anor","Olma","Mandarin"])
ser2

Anor        3
Olma        1
Mandarin    5
dtype: int64

In [ ]:
dff

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [ ]:
# ser2 va dff ni qo'shamiz
dff.add(ser2) # ko'rishingiz mumkin ikkalasida ham bor elementlar qo'shildi yo'qlari esa nan qiymatni berdi

   Anjir  Anor  Mandarin  Olma  Qovun
a    NaN   5.0       NaN   2.0    NaN
b    NaN   9.0       NaN   6.0    NaN
c    NaN  13.0       NaN  10.0    NaN

In [ ]:
dff.sub(ser2)

   Anjir  Anor  Mandarin  Olma  Qovun
a    NaN  -1.0       NaN   0.0    NaN
b    NaN   3.0       NaN   4.0    NaN
c    NaN   7.0       NaN   8.0    NaN

In [ ]:
dff

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [ ]:
ser1

Olma     1
Anor     2
Qovun    6
Anjir    5
dtype: int64

In [ ]:
# ser1 dan anorni qiymatini olib dff ning har bir elementiga qo'shsak bo'ladi
dff+ser1["Anor"] # ko'rishingiz mumkin dff ning har bir elementiga 2 qo'shildi

   Olma  Anor  Qovun  Anjir
a   3.0   4.0    5.0    6.0
b   7.0   8.0    9.0   10.0
c  11.0  12.0   13.0   14.0

# arifmetik amallar takrorlash

In [ ]:
df11=pd.DataFrame(np.arange(1,10.).reshape(3,3),columns=["Yanvar","Aprel","Iyul"],index=["GRAND ROAD TASHKENT","METALL AND WOOD","AMIR ROAD TASHKENT"])
df12=pd.DataFrame(np.arange(7,16.).reshape(3,3),index=["MURAT BUILDING STROY","GRAND ROAD TASHKENT","METALL AND WOOD"],columns=["Aprel","Iyul","Sentabr"])

In [ ]:
df11

                     Yanvar  Aprel  Iyul
GRAND ROAD TASHKENT     1.0    2.0   3.0
METALL AND WOOD         4.0    5.0   6.0
AMIR ROAD TASHKENT      7.0    8.0   9.0

In [ ]:
df12

                      Aprel  Iyul  Sentabr
MURAT BUILDING STROY    7.0   8.0      9.0
GRAND ROAD TASHKENT    10.0  11.0     12.0
METALL AND WOOD        13.0  14.0     15.0

In [ ]:
df11+df12

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN   NaN      NaN     NaN
GRAND ROAD TASHKENT    12.0  14.0      NaN     NaN
METALL AND WOOD        18.0  20.0      NaN     NaN
MURAT BUILDING STROY    NaN   NaN      NaN     NaN

In [ ]:
df11.add(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      8.0   9.0      NaN     7.0
GRAND ROAD TASHKENT    12.0  14.0     12.0     1.0
METALL AND WOOD        18.0  20.0     15.0     4.0
MURAT BUILDING STROY    7.0   8.0      9.0     NaN

In [ ]:
df11.radd(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      8.0   9.0      NaN     7.0
GRAND ROAD TASHKENT    12.0  14.0     12.0     1.0
METALL AND WOOD        18.0  20.0     15.0     4.0
MURAT BUILDING STROY    7.0   8.0      9.0     NaN

In [ ]:
df11-df12

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN   NaN      NaN     NaN
GRAND ROAD TASHKENT    -8.0  -8.0      NaN     NaN
METALL AND WOOD        -8.0  -8.0      NaN     NaN
MURAT BUILDING STROY    NaN   NaN      NaN     NaN

In [ ]:
df11.sub(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      8.0   9.0      NaN     7.0
GRAND ROAD TASHKENT    -8.0  -8.0    -12.0     1.0
METALL AND WOOD        -8.0  -8.0    -15.0     4.0
MURAT BUILDING STROY   -7.0  -8.0     -9.0     NaN

In [ ]:
df12.rsub(df11,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      8.0   9.0      NaN     7.0
GRAND ROAD TASHKENT    -8.0  -8.0    -12.0     1.0
METALL AND WOOD        -8.0  -8.0    -15.0     4.0
MURAT BUILDING STROY   -7.0  -8.0     -9.0     NaN

In [ ]:
df11.rsub(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT     -8.0  -9.0      NaN    -7.0
GRAND ROAD TASHKENT     8.0   8.0     12.0    -1.0
METALL AND WOOD         8.0   8.0     15.0    -4.0
MURAT BUILDING STROY    7.0   8.0      9.0     NaN

In [ ]:
df11

                     Yanvar  Aprel  Iyul
GRAND ROAD TASHKENT     1.0    2.0   3.0
METALL AND WOOD         4.0    5.0   6.0
AMIR ROAD TASHKENT      7.0    8.0   9.0

In [ ]:
df12

                      Aprel  Iyul  Sentabr
MURAT BUILDING STROY    7.0   8.0      9.0
GRAND ROAD TASHKENT    10.0  11.0     12.0
METALL AND WOOD        13.0  14.0     15.0

In [ ]:
df12.div(df11)

                      Aprel      Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN       NaN      NaN     NaN
GRAND ROAD TASHKENT     5.0  3.666667      NaN     NaN
METALL AND WOOD         2.6  2.333333      NaN     NaN
MURAT BUILDING STROY    NaN       NaN      NaN     NaN

In [ ]:
df11.rdiv(df12)

                      Aprel      Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN       NaN      NaN     NaN
GRAND ROAD TASHKENT     5.0  3.666667      NaN     NaN
METALL AND WOOD         2.6  2.333333      NaN     NaN
MURAT BUILDING STROY    NaN       NaN      NaN     NaN

In [ ]:
obj1=pd.Series([2,5,8,6],index=["Olma","Nok","Kivi","uzum"])
obj2=pd.Series([3,6,7,2],index=["Mandarin","Nok","Kivi","banan"])

In [ ]:
obj1

Olma    2
Nok     5
Kivi    8
uzum    6
dtype: int64

In [ ]:
obj2

Mandarin    3
Nok         6
Kivi        7
banan       2
dtype: int64

In [ ]:
obj1+obj2

Kivi        15.0
Mandarin     NaN
Nok         11.0
Olma         NaN
banan        NaN
uzum         NaN
dtype: float64

In [ ]:
obj1.add(obj2,fill_value=0)

Kivi        15.0
Mandarin     3.0
Nok         11.0
Olma         2.0
banan        2.0
uzum         6.0
dtype: float64

In [ ]:
obj1.sub(obj2,fill_value=0)

Kivi        1.0
Mandarin   -3.0
Nok        -1.0
Olma        2.0
banan      -2.0
uzum        6.0
dtype: float64

In [ ]:
obj1.div(obj2)

Kivi        1.142857
Mandarin         NaN
Nok         0.833333
Olma             NaN
banan            NaN
uzum             NaN
dtype: float64

In [ ]:
df11

                     Yanvar  Aprel  Iyul
GRAND ROAD TASHKENT     1.0    2.0   3.0
METALL AND WOOD         4.0    5.0   6.0
AMIR ROAD TASHKENT      7.0    8.0   9.0

In [ ]:
df11[["Yanvar"]][df11["Yanvar"]>3]

                    Yanvar
METALL AND WOOD        4.0
AMIR ROAD TASHKENT     7.0

In [ ]:
df11.set_index(df11.columns[0])

        Aprel  Iyul
Yanvar
1.0       2.0   3.0
4.0       5.0   6.0
7.0       8.0   9.0

In [ ]:
df11[["Yanvar","Aprel"]]

                     Yanvar  Aprel
GRAND ROAD TASHKENT     1.0    2.0
METALL AND WOOD         4.0    5.0
AMIR ROAD TASHKENT      7.0    8.0

In [ ]:
df11.loc[["METALL AND WOOD","AMIR ROAD TASHKENT"],["Yanvar","Iyul"]]

                    Yanvar  Iyul
METALL AND WOOD        4.0   6.0
AMIR ROAD TASHKENT     7.0   9.0

In [ ]:
df11.iloc[[0,1],[1,]]

                     Aprel
GRAND ROAD TASHKENT    2.0
METALL AND WOOD        5.0

In [ ]:
df11[(df11["Yanvar"]>3) & (df11["Iyul"]<=6)]

                 Yanvar  Aprel  Iyul
METALL AND WOOD     4.0    5.0   6.0

In [ ]:
df12

                      Aprel  Iyul  Sentabr
MURAT BUILDING STROY    7.0   8.0      9.0
GRAND ROAD TASHKENT    10.0  11.0     12.0
METALL AND WOOD        13.0  14.0     15.0

In [ ]:
df11.floordiv(df12)  # floordiv metodi dflarni bo'ladi va butun qismini oladi

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN   NaN      NaN     NaN
GRAND ROAD TASHKENT     0.0   0.0      NaN     NaN
METALL AND WOOD         0.0   0.0      NaN     NaN
MURAT BUILDING STROY    NaN   NaN      NaN     NaN

In [ ]:
df11.rfloordiv(df12)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      NaN   NaN      NaN     NaN
GRAND ROAD TASHKENT     5.0   3.0      NaN     NaN
METALL AND WOOD         2.0   2.0      NaN     NaN
MURAT BUILDING STROY    NaN   NaN      NaN     NaN

In [ ]:
# DF larda mul ko'paytirish metodi numpyda es multiply() metodi
df11.mul(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      0.0   0.0      NaN     0.0
GRAND ROAD TASHKENT    20.0  33.0      0.0     0.0
METALL AND WOOD        65.0  84.0      0.0     0.0
MURAT BUILDING STROY    0.0   0.0      0.0     NaN

In [ ]:
df11.rmul(df12,fill_value=0)

                      Aprel  Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT      0.0   0.0      NaN     0.0
GRAND ROAD TASHKENT    20.0  33.0      0.0     0.0
METALL AND WOOD        65.0  84.0      0.0     0.0
MURAT BUILDING STROY    0.0   0.0      0.0     NaN

In [ ]:
df12.pow(df11,fill_value=0) # pow() metodi darajaga ko'taradi

                         Aprel       Iyul  Sentabr  Yanvar
AMIR ROAD TASHKENT         0.0        0.0      NaN     0.0
GRAND ROAD TASHKENT      100.0     1331.0      1.0     0.0
METALL AND WOOD       371293.0  7529536.0      1.0     0.0
MURAT BUILDING STROY       1.0        1.0      1.0     NaN

In [ ]:
df21=pd.DataFrame(np.random.randn(3,4),columns=["Olma","Uzum","Anor","Nok"],index=list('abc'))
df21

       Olma      Uzum      Anor       Nok
a -0.857560  0.392997  0.393734  1.650929
b -1.074547  0.644776 -0.212335 -1.046303
c -1.093310  0.048345 -0.723285 -0.052462

In [ ]:
df21.abs()# manfiy qiymatlarni musbatga o'girib qo'yadi. np.abs() deb yozda ham bo'ladi

       Olma      Uzum      Anor       Nok
a  0.857560  0.392997  0.393734  1.650929
b  1.074547  0.644776  0.212335  1.046303
c  1.093310  0.048345  0.723285  0.052462

In [ ]:
df21

       Olma      Uzum      Anor       Nok
a -0.857560  0.392997  0.393734  1.650929
b -1.074547  0.644776 -0.212335 -1.046303
c -1.093310  0.048345 -0.723285 -0.052462

In [ ]:
df21.round() # sonlarni okruglyat qiladi np.round() deb yozsa ham bo'ladi

   Olma  Uzum  Anor  Nok
a  -1.0   0.0   0.0  2.0
b  -1.0   1.0  -0.0 -1.0
c  -1.0   0.0  -1.0 -0.0

In [ ]:
df21.mean() # o'rta arifmatikni hisoblash

Olma   -1.008472
Uzum    0.362039
Anor   -0.180629
Nok     0.184055
dtype: float64

In [ ]:
# apply()metodi ham bor uni ustun tarafi lambda larni yaryatib ichida qo'llashingiz mumkin
df21.apply(np.mean)

Olma   -1.008472
Uzum    0.362039
Anor   -0.180629
Nok     0.184055
dtype: float64

In [ ]:
f =lambda x: x**2
df21.apply(f) # ko'rishingiz mumkin df21 ning elementlarni kvadratga ko'tardik

       Olma      Uzum      Anor       Nok
a  0.735409  0.154447  0.155027  2.725567
b  1.154651  0.415736  0.045086  1.094750
c  1.195326  0.002337  0.523142  0.002752

In [ ]:
# yana bir ajoyib funksiya bor .applymap(). DF ning har bir elementiga o'zgarish kiritish kerak bo'lsa shu funk. ishlatiladi
df15=pd.DataFrame(np.random.randn(3,4),index=list('abc'), columns=["Shaftoli","Banan","O'rik","Qorag'at"])
df15

   Shaftoli     Banan     O'rik  Qorag'at
a -1.617697 -1.000729  0.599934 -0.654313
b  1.073392 -1.657727  0.817425  0.334009
c  0.620164 -0.081357 -1.598842 -0.321556

In [ ]:
df15

   Shaftoli     Banan     O'rik  Qorag'at
a -1.617697 -1.000729  0.599934 -0.654313
b  1.073392 -1.657727  0.817425  0.334009
c  0.620164 -0.081357 -1.598842 -0.321556

In [ ]:
# .abs()degan funksiya bor bu funksiya absalyut qiymat qaytaradi ya'ni manfiy va musbat bo'lsaham musbat qaytaradi
df15.abs() # np.abs(df15) deb yozsak ham bo'ladi numpydan abs funksiyasini chaqirib df ga qo'llaydi

   Shaftoli     Banan     O'rik  Qorag'at
a  1.617697  1.000729  0.599934  0.654313
b  1.073392  1.657727  0.817425  0.334009
c  0.620164  0.081357  1.598842  0.321556

In [ ]:
# round degan funlsiya  bor bu metod sonlarni butunlaydi
round(df15)

   Shaftoli  Banan  O'rik  Qorag'at
a      -2.0   -1.0    1.0      -1.0
b       1.0   -2.0    1.0       0.0
c       1.0   -0.0   -2.0      -0.0

In [ ]:
# bizning asl df15 jadvalimizga o'zgarish kiritilgani yo'q
df15

   Shaftoli     Banan     O'rik  Qorag'at
a -1.617697 -1.000729  0.599934 -0.654313
b  1.073392 -1.657727  0.817425  0.334009
c  0.620164 -0.081357 -1.598842 -0.321556

In [ ]:
# mean() metodi ham bor o'rta arifmetikni hisoblaydi
df15.mean()

Shaftoli    0.025286
Banan      -0.913271
O'rik      -0.060494
Qorag'at   -0.213953
dtype: float64

In [ ]:
df15.mean(axis=1) # qatorlar bo'yicha ham o'rta arifmetik qiymatni topishimiz mumkin

a   -0.668201
b    0.141775
c   -0.345398
dtype: float64

In [ ]:
# apply metodi 
df15.apply(sum,axis=1)

a   -2.672805
b    0.567100
c   -1.381590
dtype: float64

In [ ]:
df15.apply(sum)

Shaftoli    0.075859
Banan      -2.739813
O'rik      -0.181482
Qorag'at   -0.641859
dtype: float64

In [ ]:
# lambda dan foydalanamiz
kl=lambda x:x.max()-x.min()
df15.apply(kl)

Shaftoli    2.691089
Banan       1.576369
O'rik       2.416267
Qorag'at    0.988322
dtype: float64

In [ ]:
kl=lambda x:x.max()-x.min()
df15.apply(kl,axis=1)

a    2.217631
b    2.731119
c    2.219006
dtype: float64

In [ ]:
def foo(x):
  obj11=pd.Series([x.min(),x.max()],index=['max','min'])
  return obj11

In [ ]:
df15.apply(foo)

     Shaftoli     Banan     O'rik  Qorag'at
max -1.617697 -1.657727 -1.598842 -0.654313
min  1.073392 -0.081357  0.817425  0.334009

# Takrorlash

In [1]:
import numpy as np
import pandas as pd

df1=pd.DataFrame(np.random.randint(1,10,size=(3,4)),columns=["Yanvar","Fevral","Mart","Aprel"],index=["Kartoshka","Piyoz","Savzi"])
df2=pd.DataFrame(np.random.randint(1,6,size=(3,4)),columns=["Fevral","Mart","Aprel","May"],index=["Pomidor","Kartoshka","Piyoz"])

In [2]:
df1

           Yanvar  Fevral  Mart  Aprel
Kartoshka       8       2     6      8
Piyoz           5       7     2      5
Savzi           7       9     2      6

In [3]:
df2

           Fevral  Mart  Aprel  May
Pomidor         4     4      2    3
Kartoshka       3     3      3    5
Piyoz           5     3      5    5

In [4]:
df1+df2

           Yanvar  Fevral  Mart  Aprel
Kartoshka       8       2     6      8
Piyoz           5       7     2      5
Savzi           7       9     2      6

In [6]:
df1.add(df2,fill_value=0)

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka   11.0     5.0   9.0  5.0     8.0
Piyoz       10.0    12.0   5.0  5.0     5.0
Pomidor      2.0     4.0   4.0  3.0     NaN
Savzi        6.0     9.0   2.0  NaN     7.0

In [7]:
df1-df2

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka    5.0    -1.0   3.0  NaN     NaN
Piyoz        0.0     2.0  -1.0  NaN     NaN
Pomidor      NaN     NaN   NaN  NaN     NaN
Savzi        NaN     NaN   NaN  NaN     NaN

In [9]:
df1.sub(df2,fill_value=0)

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka    5.0    -1.0   3.0 -5.0     8.0
Piyoz        0.0     2.0  -1.0 -5.0     5.0
Pomidor     -2.0    -4.0  -4.0 -3.0     NaN
Savzi        6.0     9.0   2.0  NaN     7.0

In [10]:
# agar rsub desak ayirishni o'ng tomondan boshlaydi
df2.rsub(df1,fill_value=0) # quyidagi jadvalga  ahamiyat bersangiz  yuqorisidagi bilan qiymatlari birhil

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka    5.0    -1.0   3.0 -5.0     8.0
Piyoz        0.0     2.0  -1.0 -5.0     5.0
Pomidor     -2.0    -4.0  -4.0 -3.0     NaN
Savzi        6.0     9.0   2.0  NaN     7.0

In [12]:
# mul() ko'paytirish metodi
df1.mul(df2,fill_value=0)

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka   24.0     6.0  18.0  0.0     0.0
Piyoz       25.0    35.0   6.0  0.0     0.0
Pomidor      0.0     0.0   0.0  0.0     NaN
Savzi        0.0     0.0   0.0  NaN     0.0

In [14]:
df1.rmul(df2,fill_value=0)# mul funksiyasi numpydagi multiply metodi bilan birhil

           Aprel  Fevral  Mart  May  Yanvar
Kartoshka   24.0     6.0  18.0  0.0     0.0
Piyoz       25.0    35.0   6.0  0.0     0.0
Pomidor      0.0     0.0   0.0  0.0     NaN
Savzi        0.0     0.0   0.0  NaN     0.0

In [19]:
# div() bo'lish funksiyasi
df1.div(df2)

              Aprel    Fevral      Mart  May  Yanvar
Kartoshka  2.666667  0.666667  2.000000  NaN     NaN
Piyoz      1.000000  1.400000  0.666667  NaN     NaN
Pomidor         NaN       NaN       NaN  NaN     NaN
Savzi           NaN       NaN       NaN  NaN     NaN

In [20]:
df1.rdiv(df2)

           Aprel    Fevral  Mart  May  Yanvar
Kartoshka  0.375  1.500000   0.5  NaN     NaN
Piyoz      1.000  0.714286   1.5  NaN     NaN
Pomidor      NaN       NaN   NaN  NaN     NaN
Savzi        NaN       NaN   NaN  NaN     NaN

In [22]:
# pow() darajaga ko'taradi. numpyda power() metodi bilan bir hil ishlaydi
df1.pow(df2,fill_value=0)

            Aprel   Fevral   Mart  May  Yanvar
Kartoshka   512.0      8.0  216.0  0.0     1.0
Piyoz      3125.0  16807.0    8.0  0.0     1.0
Pomidor       0.0      0.0    0.0  0.0     NaN
Savzi         1.0      1.0    1.0  NaN     1.0

In [23]:
df2.rpow(df1,fill_value=0) # yuqoridagi jadval bilan solishtiring

            Aprel   Fevral   Mart  May  Yanvar
Kartoshka   512.0      8.0  216.0  0.0     1.0
Piyoz      3125.0  16807.0    8.0  0.0     1.0
Pomidor       0.0      0.0    0.0  0.0     NaN
Savzi         1.0      1.0    1.0  NaN     1.0

In [24]:
# floordiv()/rfloordiv() bu metodlar dflari bo'lib butun qismini oladi
df1.rdiv(df2,fill_value=0)

           Aprel    Fevral  Mart  May  Yanvar
Kartoshka  0.375  1.500000   0.5  inf     0.0
Piyoz      1.000  0.714286   1.5  inf     0.0
Pomidor      inf       inf   inf  inf     NaN
Savzi      0.000  0.000000   0.0  NaN     0.0