<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Dataset_statistikasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df1.columns=["maydoni","aholisi"]
df1

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [3]:
# keling  jadvaldagi maydon va aholini jami qiymatini ko'ramiz .sum() metodi bilan
df1.sum() # summasini hisoblaydi

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [4]:
df2=pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [5]:
# df2 ni 2020 va 2021 yildagi jami mashinalarni qiymatini chiqaramiz
df2.sum()

2020    168712
2021    124734
dtype: int64

In [6]:
# df2 ni qatorlar bo'yicha hisoblasak ya'ni 2020 va 2021 yilda nechta qaysi mashina chiqqanini ko'rmoqchi bo'lsak .sum(axis=1) deb yozamiz
df2.sum(axis=1) # .sum(axis='columns') deb yozsaham bo'ladi

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [7]:
df2.mean() # o'rta arifmetigini hisoblash

2020    28118.666667
2021    20789.000000
dtype: float64

In [8]:
df2.mean(axis='columns') # df2 qatorlar bo'yicha o'rta arifmetigini topish

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [9]:
df1.mean()

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

In [10]:
df1

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [11]:
df1.prod() # prod ko'pauytirish degani

maydoni    1.538590e+55
aholisi    2.913892e+80
dtype: float64

In [12]:
df1.idxmin() # df1 dagi kichkina qiymatlarga ega bo'lgan indexlarni chiqargin deyapmiz

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [13]:
df1.idxmax()# df1 dagi katta qiymatlarga ega bo'lgan indexlarni chiqargin deyapmiz

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [14]:
# agar bizga ma'lum bir ustun bo'yicha min yoki max qiymat kerak bo'lsak unda df1["aholisi"].idxmax() deb yozamiz
df1["aholisi"].idxmax()

'Toshkent viloyati'

In [15]:
# argmin degan metod ham bor bu metod eng kichkina aholi yoki maydon turgan tartib raqamini konsolga chiqaradi """BU METOD FAQAT SERIES BILLAN ISHLAYDI"""
df1["maydoni"]# quyida ko'rishingiz mumkin qiymatlar series ma'l. turida chiqdi

Boʻlinishi
Andijon viloyati                   4200.0
Buxoro viloyati                   39400.0
Fargʻona viloyati                  6800.0
Jizzax viloyati                   20500.0
Xorazm viloyati                    6300.0
Namangan viloyati                  7900.0
Navoiy viloyati                  110800.0
Qashqadaryo viloyati              28400.0
Qoraqalpogʻiston Respublikasi    160000.0
Samarqand viloyati                16400.0
Sirdaryo viloyati                  5100.0
Surxondaryo viloyati              20800.0
Toshkent viloyati                 15300.0
Name: maydoni, dtype: float64

In [16]:
df1["aholisi"].argmin()

10

In [17]:
# keling tekshiramiz rostanham 10 chi qatordami
df1.iloc[10] # ha to'g'ri ekan

maydoni      5100.0
aholisi    648100.0
Name: Sirdaryo viloyati, dtype: float64

In [18]:
# argmax()
df1["maydoni"].argmax()

8

In [19]:
df1.iloc[8] # to'g'ri

maydoni     160000.0
aholisi    1200000.0
Name: Qoraqalpogʻiston Respublikasi, dtype: float64

In [20]:
# prod metodiham bor ustunning qiymatlarini ko'paytiradi
df1.prod()

maydoni    1.538590e+55
aholisi    2.913892e+80
dtype: float64

In [21]:
df1.prod(axis=1)

Boʻlinishi
Andijon viloyati                 7.975800e+09
Buxoro viloyati                  5.455718e+10
Fargʻona viloyati                1.765960e+10
Jizzax viloyati                  1.866525e+10
Xorazm viloyati                  7.560000e+09
Namangan viloyati                1.470980e+10
Navoiy viloyati                  8.503900e+10
Qashqadaryo viloyati             5.762360e+10
Qoraqalpogʻiston Respublikasi    1.920000e+11
Samarqand viloyati               3.808080e+10
Sirdaryo viloyati                3.305310e+09
Surxondaryo viloyati             3.486080e+10
Toshkent viloyati                6.808500e+10
dtype: float64

In [22]:
import numpy as np
import  pandas as pd
df3=pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv',index_col=0)
df3

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317
Gentra  30368  26266

In [23]:
# df3 ni 2020 va 2021 yillarda nechta mashina sotilganini ko'ramiz sum() metodi bilan
df3.sum()

2020    168712
2021    124734
dtype: int64

In [24]:
# df3 da nechta mashina sotilganini ko'ramiz sum(axis=1 yoki axis='columns') metodi bilan
df3.sum(axis=1)

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [25]:
# df3 ni 2020 va 2021 yillarda o'rtacha  nechta mashina sotilganini ko'ramiz mean() metodi bilan
df3.mean()

2020    28118.666667
2021    20789.000000
dtype: float64

In [26]:
df3.mean(axis=1) # o'rtacha qiymatin ko'ramiz

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [27]:
df3.prod() # prod metodi qiymatlarni ko'paytiradi

2020      61887297365967808
2021    9151971529123863600
dtype: int64

In [28]:
df3.prod(axis='columns') # prod metodi qiymatlarni qatolar bo'yicha ko'paytiradi ko'paytiradi

Labo        34097382
Damas     1040403298
Spark      106159450
Nexia      601697046
Cobalt    1630669617
Gentra     797645888
dtype: int64

In [29]:
# series larga qo'llaniladigan yana bir ajoyib funksiya .argmin()
df3["2020"].argmax()

4

In [34]:
# keling df3 ni bitta qiymatini nan qilib .count() metodini qo'llaymiz
df3["2020"]["Labo"]=4521

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
df3.count() # count degani NaN bo'lmagan qiymatlarni hisoblaydi

2020    6
2021    6
dtype: int64

In [39]:
df3.cumsum() # cumsum metodi fibonachi qiymatlarini beradi

            2020    2021
Labo      4521.0    7542
Damas    35410.0   41224
Spark    51780.0   47709
Nexia    93443.0   62151
Cobalt  138344.0   98468
Gentra  168712.0  124734

In [40]:
df3

           2020   2021
Labo     4521.0   7542
Damas   30889.0  33682
Spark   16370.0   6485
Nexia   41663.0  14442
Cobalt  44901.0  36317
Gentra  30368.0  26266

In [42]:
df3["2020"].idxmax()

'Cobalt'