<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/DataFrame_indexlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np
univ_info={"Oriental university":{"Iqtisodiyot":500,"Turizm":650,"Boshlang'ich ta'lim":500,"Filologiya":350},
           "YOJU":{"Iqtisodiyot":1000,"Turizm":1500,"Boshlang'ich ta'lim":2500,"Filologiya":1150}}
df=pd.DataFrame(univ_info) # biz universite haqidagi jadval tuzdik, talabalar soni.

In [39]:
df

                     Oriental university  YOJU
Iqtisodiyot                          500  1000
Turizm                               650  1500
Boshlang'ich ta'lim                  500  2500
Filologiya                           350  1150

In [40]:
# keling yuqoridagi df ning indexsiga Fakultet deb nom beramiz
df.index.name="Fakultet"

In [41]:
df # indexga nom bersak biroz jadvalimiz hunik bo'ldi

                     Oriental university  YOJU
Fakultet
Iqtisodiyot                          500  1000
Turizm                               650  1500
Boshlang'ich ta'lim                  500  2500
Filologiya                           350  1150

In [42]:
# keling df ning ustunlarini alohida ajratib olamiz
ustunlar=df.columns

In [43]:
ustunlar  # ustunlar ham indexga kirar ekan

Index(['Oriental university', 'YOJU'], dtype='object')

In [44]:
type(ustunlar)

pandas.core.indexes.base.Index

In [45]:
# o'zimizga kerakli ustun bor yoki yo'qligini tekshirishimiz ham mumkin
"YOJU" in ustunlar # quyida ko'rishingiz mumkin True qiymat qaytardi demak bor ekan

True

In [46]:
"MIT" in ustunlar # MIT ustuni yo'q ekan, False qaytdi

False

In [47]:
# Fakultelarni ham ko'rishimiz mumkin
fakul=df.index

In [48]:
fakul

Index(['Iqtisodiyot', 'Turizm', 'Boshlang'ich ta'lim', 'Filologiya'], dtype='object', name='Fakultet')

In [49]:
# bizga kerakli fakultet bor yo'qligini tekshiramiz
"Menenjment" in fakul

False

In [50]:
"Menenjment" in df.index # kerakli ma'lumot yo'q ekan

False

In [51]:
# indexlarni alohida chaqirib olsak ham bo'ladi huddi ro'yhatdan qin sug'urgandak :)
fakul[0]

'Iqtisodiyot'

In [52]:
fakul[2:4]

Index(['Boshlang'ich ta'lim', 'Filologiya'], dtype='object', name='Fakultet')

In [53]:
# lekin lekini bor biz ro'yhatdagi elementlarni o'zgartiraolmaymiz
fakul[2]="Marketing"

TypeError: ignored

In [54]:
#  yuqorida ko'rishingiz mumkin xato bo'ldi

In [55]:
df

                     Oriental university  YOJU
Fakultet
Iqtisodiyot                          500  1000
Turizm                               650  1500
Boshlang'ich ta'lim                  500  2500
Filologiya                           350  1150

In [56]:
# biz o'zimizga keraksiz ustunni o'chirib tashlashimiz ham mumkin
del (df["YOJU"])

In [57]:
df

                     Oriental university
Fakultet
Iqtisodiyot                          500
Turizm                               650
Boshlang'ich ta'lim                  500
Filologiya                           350

In [62]:
# keling yana qaytadan YOJU degan ma'lumotni qo'shamiz
info_ser=pd.Series([2500,1500,800,2000], index=["Iqtisodiyot","Turizm","Boshlang'ich ta'lim","Filologiya"])
df["YOJU"]=info_ser # keling manashu ko'dni tahlil qilamiz Seriesdan foydalangan xolatda qiymatlarga 2500,1500.. larni berdik
# indexga esa fakultet nomlarini berdik. Keyin dfga YOJU nomini ustun qilishi uchun berdik va natijaga erishdik

In [63]:
df # ko'rishingiz mumkin YOJU degan ma'lumot qo'shdik

                     Oriental university  YOJU
Fakultet
Iqtisodiyot                          500  2500
Turizm                               650  1500
Boshlang'ich ta'lim                  500   800
Filologiya                           350  2000

In [72]:
# takrorlash
# rayonlarga ajratilgan pullarning jadvali
info={"Yanvar":{"Yunusobod":25.0,"Olmazor":21.0,"Chilonzor":35.0,"Sergeli":50.0,"Uchtepa":45.0,"Mirzo Ulug'bek":100.0,"Yangi Hayot":160.0},
      "Aprel":{"Yunusobod":20.0,"Olmazor":95.0,"Chilonzor":35.0,"Sergeli":15.0,"Uchtepa":75.0,"Mirzo Ulug'bek":60.0,"Yangi Hayot":100.0},
      "Iyul":{"Yunusobod":47.0,"Olmazor":55.0,"Chilonzor":67.5,"Sergeli":50.8,"Uchtepa":41.4,"Mirzo Ulug'bek":40.0,"Yangi Hayot":11.5}}
df1=pd.DataFrame(info)

In [73]:
df1

                Yanvar  Aprel  Iyul
Yunusobod         25.0   20.0  47.0
Olmazor           21.0   95.0  55.0
Chilonzor         35.0   35.0  67.5
Sergeli           50.0   15.0  50.8
Uchtepa           45.0   75.0  41.4
Mirzo Ulug'bek   100.0   60.0  40.0
Yangi Hayot      160.0  100.0  11.5

In [74]:
# yuqorida ko'rishingiz mumkin kerakli jadvalni tuzdik 
# df1 ning edexsini ajratib olamiz
df1.index

Index(['Yunusobod', 'Olmazor', 'Chilonzor', 'Sergeli', 'Uchtepa',
       'Mirzo Ulug'bek', 'Yangi Hayot'],
      dtype='object')

In [75]:
# bizga kerakli tuman bor yoki yo'qligini tekshiramiz 2 ta usul bor
# 1 usul
"Mirobod" in df1.index # quyida False qaytardi demak yo'q ekan

False

In [76]:
# 2 usul
rayon=df1.index
"Yunusobod" in rayon  # quyida ko'rishingiz mumkin True qaytardi demak bor ekan

True

In [83]:
# ustunlar ro'yhatini ajratib olamiz .columns metodidan foydalangan xolatda
df1.columns

Index(['Yanvar', 'Aprel', 'Iyul'], dtype='object')

In [84]:
# kerakli oy bor yo'qligini tekshiramiz huddi rayonlarni tekshirganimiz kabi
"Sentabr" in df.columns

False

In [86]:
# keling sentabrni qo'shib qo'yamiz
sen_ser=pd.Series([45.0,32.5,59.0,25.0,45.0,54.0,45.4], index=['Yunusobod', 'Olmazor', 'Chilonzor', 'Sergeli', 'Uchtepa','Mirzo Ulug\'bek', 'Yangi Hayot'])
df1["Sentabr"]=sen_ser

In [87]:
df1 # quyida ko'rishingiz mumkin yorvordik

                Yanvar  Aprel  Iyul  Sentabr
Yunusobod         25.0   20.0  47.0     45.0
Olmazor           21.0   95.0  55.0     32.5
Chilonzor         35.0   35.0  67.5     59.0
Sergeli           50.0   15.0  50.8     25.0
Uchtepa           45.0   75.0  41.4     45.0
Mirzo Ulug'bek   100.0   60.0  40.0     54.0
Yangi Hayot      160.0  100.0  11.5     45.4

In [89]:
# keling rayonning elementlarini o'zgartirib ko'ramiz
rayon[2]="Shayxontohur" # df1 dan olgan edik uning  qiymatlarini o'zgartirib bo'lmaydi

TypeError: ignored

In [90]:
# keling yangi qo'shgan ustunimizni o'chiramiz
del df1["Sentabr"]

In [91]:
df1

                Yanvar  Aprel  Iyul
Yunusobod         25.0   20.0  47.0
Olmazor           21.0   95.0  55.0
Chilonzor         35.0   35.0  67.5
Sergeli           50.0   15.0  50.8
Uchtepa           45.0   75.0  41.4
Mirzo Ulug'bek   100.0   60.0  40.0
Yangi Hayot      160.0  100.0  11.5