<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Elementlarni_tanlash%2C_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd

In [33]:
uz={2016:28.0,2018:28.9,2020:32.0,2022:33.0}
tj={2016:25.2,2018:26.9,2020:27.4,2022:30.0}
kz={2016:38.0,2018:38.9,2020:40.0,2022:42.0}
af={2016:16.0,2018:16.9,2020:17.5,2022:19.0}
tur={2016:28.0,2018:28.9,2020:32.0,2022:33.0}
dic_data={"Uzbekistan":uz,
          "Tajikistan":tj,
          "Kazahstan":kz,
          "Afganistan":af,
          "Turkmenistan":tur}

df=pd.DataFrame(dic_data)

In [34]:
df

      Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
2016        28.0        25.2       38.0        16.0          28.0
2018        28.9        26.9       38.9        16.9          28.9
2020        32.0        27.4       40.0        17.5          32.0
2022        33.0        30.0       42.0        19.0          33.0

In [35]:
df.index=[22,20,18,16]

In [36]:
df

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
22        28.0        25.2       38.0        16.0          28.0
20        28.9        26.9       38.9        16.9          28.9
18        32.0        27.4       40.0        17.5          32.0
16        33.0        30.0       42.0        19.0          33.0

In [37]:
df["Uzbekistan"] # series formatida qiymat qaytaradi

22    28.0
20    28.9
18    32.0
16    33.0
Name: Uzbekistan, dtype: float64

In [38]:
df[["Uzbekistan"]] # DataFrame formatida qiymat qaytaradi

    Uzbekistan
22        28.0
20        28.9
18        32.0
16        33.0

In [39]:
# biz bularni formatini alishmashtirishimizning sababi seriesda qo'llaniladigan qiymatlarni DF da qo'llab  bo'lmaydi

In [40]:
# df["Uzbekistan"] ni numpy (array) ko'rinishga o'tkazib olishimiz mumkun
df["Uzbekistan"].to_numpy() # quyida ko'rishingiz mumkin arrayga o'tdi

array([28. , 28.9, 32. , 33. ])

In [41]:
df[["Uzbekistan","Kazahstan"]]

    Uzbekistan  Kazahstan
22        28.0       38.0
20        28.9       38.9
18        32.0       40.0
16        33.0       42.0

In [42]:
df

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
22        28.0        25.2       38.0        16.0          28.0
20        28.9        26.9       38.9        16.9          28.9
18        32.0        27.4       40.0        17.5          32.0
16        33.0        30.0       42.0        19.0          33.0

In [43]:
# df[1:5] kabi indexlar bilan chaqirsa ham bo'ladi
df[1:3]

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
20        28.9        26.9       38.9        16.9          28.9
18        32.0        27.4       40.0        17.5          32.0

In [46]:
rez=df>25 # biz aytdikki 25 mln dan ko'p aholini ajrat

In [50]:
rez

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
22        True        True       True       False          True
20        True        True       True       False          True
18        True        True       True       False          True
16        True        True       True       False          True

In [54]:
df

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
22        28.0        25.2       38.0        16.0          28.0
20        28.9        26.9       38.9        16.9          28.9
18        32.0        27.4       40.0        17.5          32.0
16        33.0        30.0       42.0        19.0          33.0

In [55]:
df[["Tajikistan"]]

    Tajikistan
22        25.2
20        26.9
18        27.4
16        30.0

In [57]:
df[["Tajikistan"]][df["Tajikistan"]>27] # biz bu yerda aytdikki Tajikistan DF dan aholisi 27 mln dan ko'p bo'lgan yilni ko'rsat dedik

    Tajikistan
18        27.4
16        30.0

In [58]:
#  yuqoridagi ko'dni bo'lib yozsak tushunarliroq bo'ladi
taj=df[["Tajikistan"]]

In [60]:
taj[taj["Tajikistan"]>27]

    Tajikistan
18        27.4
16        30.0

In [61]:
df

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
22        28.0        25.2       38.0        16.0          28.0
20        28.9        26.9       38.9        16.9          28.9
18        32.0        27.4       40.0        17.5          32.0
16        33.0        30.0       42.0        19.0          33.0

In [63]:
# dfni o'qlarini almashtirishimiz ham mumkin 
df2=df.transpose(copy=True) # copy True degan copiya qilish degani

In [66]:
df2# ko'rishingiz mumkin jadval o'zgardi

                22    20    18    16
Uzbekistan    28.0  28.9  32.0  33.0
Tajikistan    25.2  26.9  27.4  30.0
Kazahstan     38.0  38.9  40.0  42.0
Afganistan    16.0  16.9  17.5  19.0
Turkmenistan  28.0  28.9  32.0  33.0

In [67]:
df2[df2[20]>30]  # biz buyerda 20 yilda aholisi 30 mln. dan katta bo'lgan davlatlarni chiqar dedik

             22    20    18    16
Kazahstan  38.0  38.9  40.0  42.0

# TAKROROLASH

In [68]:
uz={2016:28.0,2018:28.9,2020:32.0,2022:33.0}
tj={2016:25.2,2018:26.9,2020:27.4,2022:30.0}
kz={2016:38.0,2018:38.9,2020:40.0,2022:42.0}
af={2016:16.0,2018:16.9,2020:17.5,2022:19.0}
tur={2016:28.0,2018:28.9,2020:32.0,2022:33.0}
dic_data={"Uzbekistan":uz,
          "Tajikistan":tj,
          "Kazahstan":kz,
          "Afganistan":af,
          "Turkmenistan":tur}

df5=pd.DataFrame(dic_data)

In [69]:
df5

      Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
2016        28.0        25.2       38.0        16.0          28.0
2018        28.9        26.9       38.9        16.9          28.9
2020        32.0        27.4       40.0        17.5          32.0
2022        33.0        30.0       42.0        19.0          33.0

In [70]:
# agar data bizga Series formatida kerak bo'lsa  quyidagicha yozamiz
df5["Uzbekistan"]

2016    28.0
2018    28.9
2020    32.0
2022    33.0
Name: Uzbekistan, dtype: float64

In [75]:
# indexlarni o'zgartirishimiz mumkin
df5.index=[16,18,20,22]

In [76]:
df5

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
16        28.0        25.2       38.0        16.0          28.0
18        28.9        26.9       38.9        16.9          28.9
20        32.0        27.4       40.0        17.5          32.0
22        33.0        30.0       42.0        19.0          33.0

In [77]:
# agar DF formatida kerak bo'lsa  quyidagicha yozamiz
df5[["Uzbekistan"]]

    Uzbekistan
16        28.0
18        28.9
20        32.0
22        33.0

In [78]:
# agar bizga 30 mln.dan  ko'p aholi bor yil kerak bo'lsa quyidagicha yozamiz
df5[["Uzbekistan"]][df5["Uzbekistan"]>30]

    Uzbekistan
20        32.0
22        33.0

In [79]:
df5

    Uzbekistan  Tajikistan  Kazahstan  Afganistan  Turkmenistan
16        28.0        25.2       38.0        16.0          28.0
18        28.9        26.9       38.9        16.9          28.9
20        32.0        27.4       40.0        17.5          32.0
22        33.0        30.0       42.0        19.0          33.0

In [80]:
# df5ni o'qlarini almashtiramiz
df6=df5.transpose(copy=True)

In [81]:
df6

                16    18    20    22
Uzbekistan    28.0  28.9  32.0  33.0
Tajikistan    25.2  26.9  27.4  30.0
Kazahstan     38.0  38.9  40.0  42.0
Afganistan    16.0  16.9  17.5  19.0
Turkmenistan  28.0  28.9  32.0  33.0

In [83]:
# ko'rishingiz mumkin jadval o'zgardi
df6[[20]][df6[20]>30] # 20 yilda aholi soni 30 mln dan ko'p bo'lgan davlatni ajratib olamiz

                20
Uzbekistan    32.0
Kazahstan     40.0
Turkmenistan  32.0

In [85]:
# df6 dan 30 mlndan ko'p aholini tekshirish uchun quyidagicha yozamiz
df6>30 # 30 mln dan ko'p aholini True dedi

                 16     18     20     22
Uzbekistan    False  False   True   True
Tajikistan    False  False  False  False
Kazahstan      True   True   True   True
Afganistan    False  False  False  False
Turkmenistan  False  False   True   True