<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
savol=int(input("Juft son kiriting: "))
if savol%2==0:
  print("Rahmat")
else: print("Siz juft son kiritmadingiz juft son kiriting.")

Juft son kiriting: 2
Rahmat

# Kinolar
  - [Uzuklar hukumdori 1 qisim](https://http://uzmovi.com/346-uzuklar-hukumdori-1-ozbek-tilida-hd/episode/1.html)

  -[Uzuklar hukumdori 1 qisim](https://http://uzmovi.com/346-uzuklar-hukumdori-1-ozbek-tilida-hd/episode/2.html)

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
import torch
torch.cuda.is_available()

False

In [ ]:
import torch
torch.cuda.is_available()

True

In [1]:
! ls

data  sample_data

In [3]:
import pandas as pd
read_file=pd.read_excel("./data/tabl_1.xlsx")
read_file.head(25)

     №   A   B   C   D   E   F
0    1 NaN NaN NaN NaN NaN NaN
1    2 NaN NaN NaN NaN NaN NaN
2    3 NaN NaN NaN NaN NaN NaN
3    4 NaN NaN NaN NaN NaN NaN
4    5 NaN NaN NaN NaN NaN NaN
5    6 NaN NaN NaN NaN NaN NaN
6    7 NaN NaN NaN NaN NaN NaN
7    8 NaN NaN NaN NaN NaN NaN
8    9 NaN NaN NaN NaN NaN NaN
9   10 NaN NaN NaN NaN NaN NaN
10  11 NaN NaN NaN NaN NaN NaN
11  12 NaN NaN NaN NaN NaN NaN
12  13 NaN NaN NaN NaN NaN NaN
13  14 NaN NaN NaN NaN NaN NaN