<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Index_metodlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
username={"Muhammadali":"Muhammad","Asatbek":"AsAt","Jasur":"Jaska","Bekzod":"Beka"}
email={"Muhammadali":"adfcvWWEF","Asatbek":"AsssAAAmem","Jasur":"PalmJaska","Bekzod":"Honda_M"}
info_users={"Username":username,
            "email":email}
import numpy as np
import pandas as pd
df2=pd.DataFrame(info_users)
df2

             Username       email
Muhammadali  Muhammad   adfcvWWEF
Asatbek          AsAt  AsssAAAmem
Jasur           Jaska   PalmJaska
Bekzod           Beka     Honda_M

In [ ]:
info_users2={"Username":{"Jasur":"jiza1990","Anora":"anoshSH","Bekzod":"BMWWMb"},
             "email":{"Jasur":"asdfsrt","Anora":"qrewtwre","Bekzod":"p[o;klk;k"}}

In [ ]:
# info_users2 ni df2 ninng ichiga qo'shamiz
df3=df2.append(pd.DataFrame(info_users2))

In [ ]:
df3

             Username       email
Muhammadali  Muhammad   adfcvWWEF
Asatbek          AsAt  AsssAAAmem
Jasur           Jaska   PalmJaska
Bekzod           Beka     Honda_M
Jasur        jiza1990     asdfsrt
Anora         anoshSH    qrewtwre
Bekzod         BMWWMb   p[o;klk;k

In [ ]:
# yuqoridagi df3 da birhil qiymatlar bor shular  kelajakda bizlarga yo'liqishi mumkin shuning uchun ularni ustida ishlash kerak

In [ ]:
# yangi index yaratib olamiz
newind=pd.Index(["Bekzod","Olim","Jasur"])
newind # buning qulay tomoni yuqoridagi df3 ning ichida bizga kerakli qiymat bor yoki yo'qligini tekshirish uchun

Index(['Bekzod', 'Olim', 'Jasur'], dtype='object')

In [ ]:
# tekshiramiz .isin metodi bilan
newind.isin(df3.index) # quyida ko'rishingiz mumkin newind ning ichidan Bekzod va Jasur bor ekan

array([ True, False,  True])

In [ ]:
# differense metodi farqini tekshirish
df3.index.difference(newind) # bu yerda jadavalning indexsi bilan newind ning o'rtasidagi farqni ko'rsatib ber dedik
# quyida df3 va newind ning ichida bo'lmagan qiymatlar chiqdi

Index(['Anora', 'Asatbek', 'Muhammadali'], dtype='object')

In [ ]:
newind.difference(df3.index)

Index(['Olim'], dtype='object')

In [ ]:
# union dega metod - df3 va newind dagi indexlarni jamlaydi
df3.index.union(newind)

Index(['Anora', 'Asatbek', 'Bekzod', 'Bekzod', 'Jasur', 'Jasur', 'Muhammadali',
       'Olim'],
      dtype='object')

In [ ]:
newind.union(df3.index)

Index(['Anora', 'Asatbek', 'Bekzod', 'Bekzod', 'Jasur', 'Jasur', 'Muhammadali',
       'Olim'],
      dtype='object')

In [ ]:
# jadvalning ichida indexni o'chirish .delete()
df3.index.delete(1) # quyida ko'rishingiz mumkin Asatbekni o'chirib tashladik

Index(['Muhammadali', 'Jasur', 'Bekzod', 'Jasur', 'Anora', 'Bekzod'], dtype='object')

In [ ]:
newind.drop("Bekzod") # .drop() metodi yaratilgan alohida indeksdan o'chiradi

Index(['Olim', 'Jasur'], dtype='object')

             Username       email
Muhammadali  Muhammad   adfcvWWEF
Asatbek          AsAt  AsssAAAmem
Jasur           Jaska   PalmJaska
Bekzod           Beka     Honda_M
Jasur        jiza1990     asdfsrt
Anora         anoshSH    qrewtwre
Bekzod         BMWWMb   p[o;klk;k

# TAKRORLASH

In [4]:
klientlar={"model":{"Javohir":"asus rog strix","Madina":"lenova id gaming 3","Sanjar":"HP ENVY","Muhammadali":"HP"},
          "cause":{"Javohir":"install windows 10","Madina":"install adobe IL","Sanjar":"diagnostics","Muhammadali":"install casperskiy"},
          "price":{"Javohir":80.0,"Madina":30.0,"Sanjar":100.0,"Muhammadali":150.0}}
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(klientlar)
df

                          model               cause  price
Javohir          asus rog strix  install windows 10   80.0
Madina       lenova id gaming 3    install adobe IL   30.0
Sanjar                  HP ENVY         diagnostics  100.0
Muhammadali                  HP  install casperskiy  150.0

In [6]:
# keling yuqoridagi jadvaldan indexslarini ajratib olamiz
ismlar=df.index

In [7]:
ismlar

Index(['Javohir', 'Madina', 'Sanjar', 'Muhammadali'], dtype='object')

In [8]:
# ismlarning birini o'zgartirib ko'ramiz
ismlar[2]="Doniyor" # quyida ko'rishingiz mumkin xato berdi aslida df dan olingan qiymatlarni o'zgartirib bo'lmaydi

TypeError: ignored

In [9]:
# bizga kerakli ism jadvalda bor yoki yo'qligini tekshiramiz
"Anora" in df.index #  kerakli ism jadvalda yo'q ekan

False

In [10]:
"Muhammdali" in ismlar

False

In [11]:
# biz ustunlarni ham alohida qilib olishimiz mumkin .columns() operatori yordamida
ustunlar=df.columns

In [12]:
ustunlar

Index(['model', 'cause', 'price'], dtype='object')

In [14]:
# keling endi kerakli ustun bor yoki yo'qligini tekshiramiz
"bonuslar" in ustunlar # yo'q ekan

False

In [16]:
"price" in df.columns # yuqoridagi kod bilan birhil

True

In [18]:
# yangi index yaratish
newind=pd.Index(["Muhammadali","Sunnat","Islom"])
newind # biz bu yerda hech narsaga tegishli bo'lmagan yangi index yaratdik

Index(['Muhammadali', 'Sunnat', 'Islom'], dtype='object')

In [20]:
# kelining indexlarni farqini ko'ramiz .difference() metodi bilan
newind.difference(df.index)

Index(['Islom', 'Sunnat'], dtype='object')

In [21]:
# .union() bu metod indexlarni jamlaydi
newind.union(df.index)

Index(['Islom', 'Javohir', 'Madina', 'Muhammadali', 'Sanjar', 'Sunnat'], dtype='object')

In [25]:
df

                          model               cause  price
Javohir          asus rog strix  install windows 10   80.0
Madina       lenova id gaming 3    install adobe IL   30.0
Sanjar                  HP ENVY         diagnostics  100.0
Muhammadali                  HP  install casperskiy  150.0

In [24]:
# keling endi indexni o'chirishni ko'ramiz
df.index.delete(0) # quyida ko'rishingiz mumkin Javohirni o'chirib tashladik

Index(['Madina', 'Sanjar', 'Muhammadali'], dtype='object')

In [27]:
# keling endi yaratgan indexsimizdan elementni o'chiramiz
newind.drop("Sunnat") #quyida ko'rishingiz mumkin Sunnatni ro'yhatda mavjud emas

Index(['Muhammadali', 'Islom'], dtype='object')

In [28]:
# keling endi  jadvalimizga yangi ustun qo'shamiz
val_ind=pd.Series(["10%","10%","5%","20%"],index=["Javohir","Madina","Sanjar","Muhammadali"])
df["sale"]=val_ind

In [29]:
df

                          model               cause  price sale
Javohir          asus rog strix  install windows 10   80.0  10%
Madina       lenova id gaming 3    install adobe IL   30.0  10%
Sanjar                  HP ENVY         diagnostics  100.0   5%
Muhammadali                  HP  install casperskiy  150.0  20%

In [39]:
# yangi qo'shgan sale mizni o'chiramiz
del df["sale"]

In [41]:
df # quyida ko'rishingiz mumkin sale mavjud emas

                          model               cause  price
Javohir          asus rog strix  install windows 10   80.0
Madina       lenova id gaming 3    install adobe IL   30.0
Sanjar                  HP ENVY         diagnostics  100.0
Muhammadali                  HP  install casperskiy  150.0

In [42]:
# keling df.indexga yangi ism qo'shamiz .insert() metodi yordamida
df.index.insert(4,"Dono")

Index(['Javohir', 'Madina', 'Sanjar', 'Muhammadali', 'Dono'], dtype='object')

In [44]:
df.index

Index(['Javohir', 'Madina', 'Sanjar', 'Muhammadali'], dtype='object')

In [46]:
df.index.unique()

Index(['Javohir', 'Madina', 'Sanjar', 'Muhammadali'], dtype='object')