<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/Lug'atdan_DataFrame_yaratish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

info1={"Uzbekistan":{2015:25.0,2018:28.5,2020:32.0,2022:33.0},
       "Tajiskitan":{2015:21.0,2018:24.5,2020:27.0,2021:30.0,2022:32.0}}
df1=pd.DataFrame(info1)

In [ ]:
df1 # quyida ko'rishingiz mumkin yillar index ga o'tdi, kalitlar esa ustunlarga

      Uzbekistan  Tajiskitan
2015        25.0        21.0
2018        28.5        24.5
2020        32.0        27.0
2022        33.0        32.0
2021         NaN        30.0

In [ ]:
# keling df1 ni o'qlarini lamashtirib ko'ramiz
df1.swapaxes(0,1)

            2015  2018  2020  2022  2021
Uzbekistan  25.0  28.5  32.0  33.0   NaN
Tajiskitan  21.0  24.5  27.0  32.0  30.0

In [ ]:
# yuqorida ko'rishingiz mumkin o'qlari almashdi

In [ ]:
df1

      Uzbekistan  Tajiskitan
2015        25.0        21.0
2018        28.5        24.5
2020        32.0        27.0
2022        33.0        32.0
2021         NaN        30.0

In [ ]:
val=pd.Series([32.0], index=[2021])
df1.iloc[4]=val

In [ ]:
df1

      Uzbekistan  Tajiskitan
2015        25.0        21.0
2018        28.5        24.5
2020        32.0        27.0
2022        33.0        32.0
2021        32.0        32.0

In [ ]:
# yuqorida ko'rishingiz mumkin chiki chiki qilib tashladik

In [ ]:
# df1 ni o'qlarini Transpose (T) metodi bilan o'zgartiramiz
df2=df1.T

In [ ]:
df2

            2015  2018  2020  2022  2021
Uzbekistan  25.0  28.5  32.0  33.0  32.0
Tajiskitan  21.0  24.5  27.0  32.0  32.0

In [83]:
df2.columns # columns ustunlar ro'yhatini chiqarib beradi

Int64Index([2015, 2018, 2020, 2022, 2021], dtype='int64')

In [84]:
# df2 ning qiymatlarni olamiz va bu olingan qiyamtalar array bo'ladi
arr=df2.values

In [86]:
arr # quyida ko'rishingiz mumkin array qaytdi

array([[25. , 28.5, 32. , 33. , 32. ],
       [21. , 24.5, 27. , 32. , 32. ]])

In [93]:
# keling df1 ning ustun,index va qiymatlari ichida bizga kerakli qiymat bormi
33 in df1.values

True

In [94]:
"Rossiya" in df1.columns # bi bu yerda Rossia df2 ning ustunida bormi? dedik va natija False qaytdi

False

In [96]:
"Uzbekistan" in df1.columns # O'zbekiston bor ekan

True

In [97]:
25 in df1.values

True

# Username email