<a href="https://colab.research.google.com/github/MUHAMMADALIBOBOKHON2003/mening_darslarim/blob/main/second_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import numpy as np
import pandas as pd

In [2]:
import torch
torch.cuda.is_available()

True

In [4]:
import pandas as pd
read_file=pd.read_excel("./My progress/info_talabalar.xlsx")
read_file.head(2)

   №                  F.I.O  Bosqich   Hulqi  oraliq %  yakuniy %
0  1          Husanov Bobur      2.0    a'lo      66.0       88.0
1  2  Boboxonov Muhammadali      2.0  yaxshi     100.0      100.0

In [5]:
import numpy as np
sonlar=list(range(1000000))
sonlar_array=np.array(range(1000000))
%time for n_martta_qaytaradi in range(10): [f**2 for f in sonlar]
%time for n_marta_qaytaradi in range(10): sonlar_array**2

CPU times: user 2.52 s, sys: 155 ms, total: 2.67 s
Wall time: 2.67 s
CPU times: user 12.5 ms, sys: 2.98 ms, total: 15.5 ms
Wall time: 13.6 ms